
<div class="well">
<div>
<h4>Dealer's Hand:<%if @player_stay == true %><%=calculate_total(session[:dealer_hand]) %> </h4>
  <%end%>
  </div>
  <% session[:dealer_hand].each do |card| %>
    <%if @player_stay == true%> 
      <%= view_cards(card)%>
    <%else%>
      <%= view_cards(session[:dealer_hand][0])%>
      "<img src='/images/cards/cover.jpg'>"
      <%break%>
  <!--    <%binding.pry%> -->
    <% end %>
  <% end %><br>
</div>

 
<div class="well">
<h4><%=session[:name]%>'s Hand: <%=calculate_total(session[:player_hand])%> </h4>
<% session[:player_hand].each do |card| %>
  <%=view_cards(card)%>
<% end %><br>

<% if @show_hit_stay==true %>
<form id='hit_button' action = '/game/player/hit' method= 'post'>
<input type='submit' class= "btn-success btn-lg" value='Hit!'>
</form>

<form id='stay_button' action = '/game/player/stay' method= 'post'>
<input type='submit' class= "btn-warning btn-lg" value='Stay!'>
</form>

<div class='bank'>
<h3> You bet $<%=session[:bet]%>. You have $<%=session[:money]%>.</h3>
</div>

<% end %>

<%if @play_again == true%>
  <div class= "container play-again">
    <h4>You have $<%=session[:money]%><br>
    How much would you like to bet?</h4>
    <form class = "bet-again" action = "/again" method "post">
    <input type = "number" name= "bet" text value=<%=session[:bet]%>> <br>
    <input type = "submit" value="Deal Me a New Hand!" class="btn btn-default" role= "button">
      </form>
  </div> 
<%end%>
</div>