
<%if @error %>
<div class="alert alert-danger"><%=@error%></div></ls>
<% end %>
<%if @success %>
<div class="alert alert-success stay"><%=@success%></div>
<% end %>
<%if @info%>
<div  class="alert alert-info"><%=@info%></div>
<% end %>


<div class = 'container-fluid' id = 'game'>
<div class="container">
<%if @dealer_score !=true %>
<h4>Dealer's Hand:</h4>
<%else %>
 <h4>Dealer's Hand: <%=calculate_total(session[:dealer_hand]) %></h4>
<%end%> 

<div class="well well-cards"> 
<% session[:dealer_hand].each_with_index do |card,i| %>
  <%if session[:turn]!= 'dealer' && i ==0%>
  <img src= "/images/cards/cover.jpg" class='cards'>
  <%else%>
  <img src="<%= view_cards(card) %>" class= "cards">

<% end %>
<% end %>


  </div>
</div>


 <div class="container">
<h4><%=session[:name]%>'s Hand: <%=calculate_total(session[:player_hand])%> </h4>
<div class="well well-cards">
<% session[:player_hand].each do |card| %>
  <img src="<%= view_cards(card) %>" class='cards' >
<% end %>

</div>

 </div>

<div class="buttons">
<% if @show_hit_stay==true %>
<form id='hit_button' action = '/game/player/hit' method= 'post'>
<input type='submit' class= "btn-success btn-lg" value='Hit!'>
</form>

<form id='stay_button' action = '/game/player/stay' method= 'post'>
<input type='submit' class= "btn-warning btn-lg" value='Stay!'>
</form>

<div class='bank'>
<h3> You bet $<%=session[:bet]%>. You have $<%=session[:money]%>.</h3>
</div>

<% end %>

<% if @dealer_hit == true%>
<form id='dealer_hit' action = '/game/dealer' method= 'post'>
<input type='submit' class = 'btn-warning btn-lg dealer_hit' value=
"<%if dealer_total = calculate_total(session[:dealer_hand])< 17 %>
See dealers card
<%elsif dealer_total = calculate_total(session[:dealer_hand])>= 17 %>
Compare cards
<% end %>"</form>
<div class='bank'>
<h3> You bet $<%=session[:bet]%>. You have $<%=session[:money]%>.</h3>
</div>

<% end %> 



<%if @play_again == true%>
  
    <h4 id= "bet-again">You have $<%=session[:money]%><br>
    How much would you like to bet?</h4>
    <form class = "bet-again" action = "/again" method "post">
    <input type = "number" name= "bet" text value=<%=session[:bet]%>> <br>
    <input type = "submit" value="Deal Me a New Hand!" class="btn btn-lg " role= "button">
      </form>

<%end%>

</div>
</div>
</div>

